In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1566,tt0372183,75000000,288500217,The Bourne Supremacy,Matt Damon|Franka Potente|Brian Cox|Julia Stil...,Paul Greengrass,They should have left him alone.,When a CIA operation to purchase classified Ru...,108,Action|Drama|Thriller,Universal Pictures|The Kennedy/Marshall Compan...,7/23/2004,7.1,2004
758,tt1568911,66000000,177584879,War Horse,Tom Hiddleston|Benedict Cumberbatch|Toby Kebbe...,Steven Spielberg,Separated by War. Tested by Battle. Bound by F...,Follows a young man named Albert and his horse...,146,Drama|War,DreamWorks SKG|Amblin Entertainment|Reliance E...,12/25/2011,6.9,2011
869,tt0121765,120000000,649398328,Star Wars: Episode II - Attack of the Clones,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,"Ten years after the invasion of Naboo, the gal...",142,Adventure|Action|Science Fiction,Lucasfilm,5/15/2002,6.4,2002
583,tt0132245,94000000,54744738,Driven,Kip Pardue|Robert Sean Leonard|Til Schweiger|E...,Renny Harlin,Get ready for the race of your life.,Talented rookie race-car driver Jimmy Bly has ...,116,Action,Epsilon Motion Pictures|Franchise Pictures|Tra...,4/27/2001,4.8,2001
894,tt0233469,85000000,78382433,Collateral Damage,Arnold Schwarzenegger|Francesca Neri|Elias Kot...,Andrew Davis,What would you do if you lost everything?,Firefighter Gordon Brewer is plunged into the ...,108,Action|Thriller|Drama,David Foster Productions|Bel Air Entertainment...,2/6/2002,5.5,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [8]:
data.describe(include = ['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624,1435
top,tt0497465,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,Based on the Best Selling Novel,The Little Piece of Heaven family farm is abou...,Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [73]:
#to calculate and analyze based on profit, we create column'profit', profit = revenue - budget 
data['profit'] = data['revenue'] - data['budget']
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1362,tt0419706,60000000,55987321,Doom,Dwayne Johnson|Karl Urban|Rosamund Pike|Ben Da...,Andrzej Bartkowiak,No one gets out alive.,A team of space marines known as the Rapid Res...,100,Action|Adventure|Science Fiction|Thriller|Horror,Di Bonaventura Pictures|John Wells Productions...,10/20/2005,4.9,2005,-4012679
1863,tt0219653,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,4.7,2000,5000337
595,tt0186589,11000000,13276953,Sugar & Spice,Marla Sokoloff|Marley Shelton|Melissa George|M...,Francine McDougall,Why would the most popular girl in school wear...,When Jack (James Marsden) and Diane (Marley Sh...,81,Crime|Comedy,New Line Cinema,1/24/2001,5.4,2001,2276953

In [159]:
#for task 21 convert release_date in datetime format:
data['release_date'] = pd.to_datetime(data['release_date'], infer_datetime_format=True)
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
887,tt0280590,50000000,171269535,Mr. Deeds,Adam Sandler|Winona Ryder|John Turturro|Allen ...,Steven Brill,"Small town kid, big time right hook.","When Longfellow Deeds, a small-town pizzeria o...",96,Comedy|Romance,New Line Cinema|Columbia Pictures Corporation|...,2002-06-28,5.7,2002,121269535
1876,tt0144964,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,2000-09-01,4.3,2000,-9156392
174,tt2004420,18000000,268157400,Neighbors,Seth Rogen|Zac Efron|Rose Byrne|Dave Franco|Ik...,Nicholas Stoller,Family vs. Frat,A couple with a newborn baby face unexpected d...,96,Comedy,Universal Pictures|Point Grey Pictures|Good Un...,2014-05-08,6.2,2014,250157400

In [166]:
#for task 23 make a separate column with release_month
data['release_month'] = data['release_date'].dt.month
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1650,tt0377062,45000000,21009180,Flight of the Phoenix,Dennis Quaid|Tyrese Gibson|Giovanni Ribisi|Mir...,John Moore,"Out of the ashes, hope will rise.",When an Amacor oil rig in the Gobi Desert of M...,113,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Davis E...,2004-12-17,5.4,2004,-23990820,12
792,tt0448694,130000000,554987477,Puss in Boots,Antonio Banderas|Salma Hayek|Zach Galifianakis...,Chris Miller,Live for danger. Fight for justice. Pray for m...,"Long before he even met Shrek, the notorious f...",90,Action|Adventure|Animation|Family|Fantasy,DreamWorks,2011-10-28,6.9,2011,424987477,10
1318,tt0121766,113000000,850000000,Star Wars: Episode III - Revenge of the Sith,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,The saga is complete.,"Years after the onset of the Clone Wars, the n...",140,Science Fiction|Adventure|Action,Lucasfilm,2005-05-17,7.0,2005,737000000,5

In [173]:
#for task 24 make a column with title lengh:
data['title_count']=data.original_title.apply(lambda x:len(x))
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_count
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,2003-10-03,6.6,2003,96282949,10,18
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,2013-03-20,6.8,2013,450178928,3,10
698,tt1014775,20000000,149281606,Beverly Hills Chihuahua,Drew Barrymore|Piper Perabo|Andy GarcÃ­a|Georg...,Raja Gosnell,50% Warrior. 50% Lover. 100% Chihuahua.,A pampered Beverly Hills chihuahua named Chloe...,91,Adventure|Comedy|Family,Walt Disney Pictures,2008-10-03,5.1,2008,129281606,10,23

In [180]:
#for task 25 make a column with title lengh:
data['overview_len']=data.overview.apply(lambda x:len(x))
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_count,overview_len
282,tt1034032,50000000,40828540,Gamer,Gerard Butler|Michael C. Hall|Logan Lerman|Amb...,Mark Neveldine|Brian Taylor,"In the near future, you don't live to play... ...",Mind-control technology has taken society by a...,95,Action|Thriller|Science Fiction,Lakeshore Entertainment|Lionsgate,2009-09-03,5.6,2009,-9171460,9,5,345
732,tt1568346,90000000,232617430,The Girl with the Dragon Tattoo,Daniel Craig|Rooney Mara|Christopher Plummer|G...,David Fincher,Evil shall with evil be expelled.,This English-language adaptation of the Swedis...,158,Thriller|Crime|Mystery|Drama,Columbia Pictures|Scott Rudin Productions|Film...,2011-12-14,7.1,2011,142617430,12,31,423
1380,tt0399146,32000000,60740827,A History of Violence,Viggo Mortensen|Maria Bello|Heidi Hayes|Ashton...,David Cronenberg,Tom Stall had the perfect life... until he bec...,An average family is thrust into the spotlight...,96,Drama|Thriller|Crime,New Line Cinema|DC Comics|BenderSpink,2005-09-23,6.7,2005,28740827,9,21,117

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [52]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [33]:
# тут пишем ваш код для решения данного вопроса:

data[(data.budget == data.budget.max())]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [51]:
# можно добавлять разные варианты решения

# data.budget.max()
data.loc[data.budget == data.budget.max()]
s = data.loc[data.budget == data.budget.max()]

s[['original_title']+ ['imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [59]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [58]:
data[(data.runtime == data.runtime.max())]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [57]:
data.loc[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [62]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [60]:
data[(data.runtime == data.runtime.min())]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [61]:
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [191]:
answers['4'] = '110'

In [64]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [69]:
answers['5'] = '107'

In [68]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [79]:
answers['6'] = 'Avatar (tt0499549)'

In [75]:
data[(data.profit == data.profit.max())]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [80]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [76]:
data[(data.profit == data.profit.min())]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [83]:
answers['8'] = '1478'

In [82]:
data[(data.profit > 0)]['original_title'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [98]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [101]:
#if by 'кассовым' we mean revenue = max:

t = data.loc[data['release_year'] == 2008]
t[t.revenue == t.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [103]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [102]:
#if by 'самый убыточный' we mean profit = min:

s = data.loc[(data['release_year'] == 2012) | 
             (data['release_year'] == 2013) |
             (data['release_year'] == 2014)]
s[s.profit == s.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [115]:
answers['11'] = 'Drama'

In [104]:
data.describe(include=['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624,1435
top,tt0497465,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,Based on the Best Selling Novel,The Little Piece of Heaven family farm is abou...,Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

In [107]:
data.genres.describe()

count       1889
unique       652
top       Comedy
freq         141
Name: genres, dtype: object

In [114]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [125]:
answers['12'] = 'Drama'

In [122]:
p = data.loc[data.profit > 0]
p

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

In [123]:
Counter(p.genres.str.split('|').sum()).most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [124]:
Counter(p.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [136]:
answers['13'] = 'Peter Jackson'

In [134]:
t = data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending = False)
t

                          sum
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

In [135]:
t.iloc[0]

sum    6490593685
Name: Peter Jackson, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [141]:
answers['14'] = 'Robert Rodriguez'

In [138]:
action_movies = data[data.genres.str.contains('Action', na=False)]
action_movies

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180

In [139]:
Counter(action_movies.director.str.split('|').sum()).most_common()

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5),
 ('Louis Leterrier', 5),
 ('Tony Scott', 5),
 ('Paul Greengrass', 5),
 ('Peter Jackson', 5),
 ('Lee Tamahori', 5),
 ('Gore Verbinski', 5),
 ('Rob Cohen', 5),
 ('Peter Berg', 5),
 ('J.J. Abrams', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Olivier Megaton', 4),
 ('Guy Ritchie', 4),
 ('Bryan Singer', 4),
 ('Tim Story', 4),
 ('Renny Harlin', 4),
 ('Mark Neveldine', 4),
 ('Brian Taylor', 4),
 ('Dominic Sena', 4),
 ('Justin Lin', 4),
 ('Christopher Nolan', 4),
 ('Simon West', 4),
 ('John Moore', 4),
 ('Steven Spielberg', 4),
 ('Martin Campbell', 4),
 ('John Singleton', 4),
 ('Len Wiseman', 4),
 ('Brad Bird', 3),
 ('Matthew Vaughn', 3),
 ('Neill Blomkamp', 3),
 ('Jaume Collet-Serra', 3),
 ('Breck Eisner', 3),
 ('Pierre Morel', 3),
 ('David Ayer', 3),
 ('Doug Liman', 3),
 ('Clint Eastwood', 3),
 ('Phil Lord', 3),
 ('Christopher Miller', 3),
 ('McG', 3),
 ('Stephen Sommers', 3),
 ('Shawn Levy', 3),
 ('Jonathan Mostow', 3),
 ('Jon Favreau', 3),
 ('Jon Turteltaub', 3),
 ('Joe Carnahan', 3),
 ('M. Night Shyamalan', 3),
 ('Harald Zwart', 3),
 ('Marc Forster', 3),
 ('D.J. Caruso', 3),
 ('Edward Zwick', 3),
 ('Sam Raimi', 3),
 ('Barry Sonnenfeld', 3),
 ('Guillermo del Toro', 3),
 ('John Woo', 3),
 ('Uwe Boll', 3),
 ('David Twohy', 3),
 ('James Wan', 2),
 ('Alan Taylor', 2),
 ('Sam Mendes', 2),
 ('Joss Whedon', 2),
 ('Peyton Reed', 2),
 ('Brad Peyton', 2),
 ('Wes Ball', 2),
 ('Michael Mann', 2),
 ('Paul Feig', 2),
 ('Ron Howard', 2),
 ('Camille Delamarre', 2),
 ('Luc Besson', 2),
 ('Jonathan Liebesman', 2),
 ('Matt Reeves', 2),
 ('Marc Webb', 2),
 ('Evan Goldberg', 2),
 ('Seth Rogen', 2),
 ('Roger Donaldson', 2),
 ('J.C. Chandor', 2),
 ('Kenneth Branagh', 2),
 ('Scott Waugh', 2),
 ('Alex Proyas', 2),
 ('James McTeigue', 2),
 ('NimrÃ³d Antal', 2),
 ('Gavin Hood', 2),
 ('Sylvester Stallone', 2),
 ('Joseph Kosinski', 2),
 ('Edgar Wright', 2),
 ('Robert Schwentke', 2),
 ('James Mangold', 2),
 ('Neil Marshall', 2),
 ('Kevin Munroe', 2),
 ('Peter Howitt', 2),
 ('Frank Oz', 2),
 ('Joe Johnston', 2),
 ('Peter Hyams', 2),
 ('Timur Bekmambetov', 2),
 ('David Gordon Green', 2),
 ('Pete Travis', 2),
 ('Frank Miller', 2),
 ('Jason Friedberg', 2),
 ('Aaron Seltzer', 2),
 ('Rob Marshall', 2),
 ('Andrew Niccol', 2),
 ('Marcus Nispel', 2),
 ('Ruben Fleischer', 2),
 ('George Lucas', 2),
 ('Andrew Davis', 2),
 ('Walter Hill', 2),
 ('Rob Bowman', 2),
 ('Ang Lee', 2),
 ('Baltasar KormÃ¡kur', 2),
 ('Mark Steven Johnson', 2),
 ('F. Gary Gray', 2),
 ('David Dobkin', 2),
 ('Clark Johnson', 2),
 ('Richard Donner', 2),
 ('William Friedkin', 2),
 ('Francis Lawrence', 2),
 ('Courtney Solomon', 2),
 ('David R. Ellis', 2),
 ('David S. Goyer', 2),
 ('Colin Trevorrow', 1),
 ('George Miller', 1),
 ('Chris Columbus', 1),
 ('Christopher McQuarrie', 1),
 ('Ilya Naishuller', 1),
 ('Ericson Core', 1),
 ('Denis Villeneuve', 1),
 ('Josh Trank', 1),
 ('Aleksander Bach', 1),
 ('Andy Fickman', 1),
 ('John Erick Dowdle', 1),
 ('Anne Fletcher', 1),
 ('James Gunn', 1),
 ('Joe Russo', 1),
 ('Anthony Russo', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Chris Williams', 1),
 ('Neil Burger', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Dean DeBlois', 1),
 ('Patrick Hughes', 1),
 ('Gary Shore', 1),
 ('Noam Murro', 1),
 ('Vic Armstrong', 1),
 ('JosÃ© Padilha', 1),
 ('George Clooney', 1),
 ('Brian A Miller', 1),
 ('Steven Quale', 1),
 ('Adam Wingard', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Shane Acker', 1),
 ('Steve Carr', 1),
 ('Christian Alvart', 1),
 ('Hoyt Yeatman', 1),
 ('Kevin Macdonald', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Paul McGuigan', 1),
 ('Troy Duffy', 1),
 ('Paul Weitz', 1),
 ('David Bowers', 1),
 ('Daniel Barber', 1),
 ('Michael J. Bassett', 1),
 ('Pierre Coffin', 1),
 ('Chris Renaud', 1),
 ('Phillip Noyce', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Mike Newell', 1),
 ('Ethan Maniquis', 1),
 ('Albert Hughes', 1),
 ('Allen Hughes', 1),
 ('Tom McGrath', 1),
 ('Adam McKay', 1),
 ('Miguel Sapochnik', 1),
 ('Andy Tennant', 1),
 ('Jonathan Lynn', 1),
 ('Jimmy Hayward', 1),
 ('Robert Luketic', 1),
 ('John Luessenhop', 1),
 ('Kevin Smith', 1),
 ('Jorma Taccone', 1),
 ('Brian Levant', 1),
 ('Stuart Beattie', 1),
 ('Tim Burton', 1),
 ('Brian Helgeland', 1),
 ('John A. Davis', 1),
 ('Chris Nahon', 1),
 ('Hironobu Sakaguchi', 1),
 ('Motonori Sakakibara', 1),
 ('Rod Lurie', 1),
 ('John Herzfeld', 1),
 ('Ivan Reitman', 1),
 ('Demian Lichtenstein', 1),
 ('John Carpenter', 1),
 ('Bobby Farrelly', 1),
 ('Peter Farrelly', 1),
 ('Barry Levinson', 1),
 ('Luke Greenfield', 1),
 ('Les Mayfield', 1),
 ('Henry Selick', 1),
 ('Rob Pritts', 1),
 ('Ernest R. Dickerson', 1),
 ('DJ Pooh', 1),
 ('Eric Brevig', 1),
 ('Ben Stiller', 1),
 ('Jeff Wadlow', 1),
 ('Lexi Alexander', 1),
 ('Peter Segal', 1),
 ('Mathieu Kassovitz', 1),
 ('Rob Minkoff', 1),
 ('Jon Avnet', 1),
 ('Dennis Dugan', 1),
 ('Howard McCain', 1),
 ('Oxide Pang Chun', 1),
 ('Danny Pang', 1),
 ('Craig Mazin', 1),
 ('Simon Hunter', 1),
 ('Nicolas Winding Refn', 1),
 ('Rupert Wyatt', 1),
 ('Patrick Lussier', 1),
 ('Gary McKendry', 1),
 ('Scott Stewart', 1),
 ('Tarsem Singh', 1),
 ('Chris Gorak', 1),
 ('Chris Miller', 1),
 ('Michel Gondry', 1),
 ('Oliver Parker', 1),
 ('Joe Cornish', 1),
 ('Joe Wright', 1),
 ('John Michael McDonagh', 1),
 ('Alister Grierson', 1),
 ('Sean McNamara', 1),
 ('John Whitesell', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Jay Roach', 1),
 ('Jim Gillespie', 1),
 ('Chuck Russell', 1),
 ('Betty Thomas', 1),
 ('Randall Wallace', 1),
 ('Ron Shelton', 1),
 ('Simon Wells', 1),
 ('Roger Michell', 1),
 ('Michael Apted', 1),
 ('Tom Dey', 1),
 ('Joel Schumacher', 1),
 ('Luis Mandoki', 1),
 ('Tamra Davis', 1),
 ('Ron Underwood', 1),
 ('Kevin Bray', 1),
 ('Malcolm D. Lee', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Tony Gilroy', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Boaz Yakin', 1),
 ('Andrew Stanton', 1),
 ('Rian Johnson', 1),
 ('Mike McCoy', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Mabrouk El Mechri', 1),
 ('Dan Bradley', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('David Koepp', 1),
 ('David Barrett', 1),
 ('Stephen Norrington', 1),
 ('Jan de Bont', 1),
 ('Jon Amiel', 1),
 ('John McTiernan', 1),
 ('Shane Black', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Gary Fleder', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Taylor Hackford', 1),
 ('Steven Knight', 1),
 ('Spike Lee', 1),
 ('Dito Montiel', 1),
 ('Keanu Reeves', 1),
 ('Fyodor Bondarchuk', 1),
 ('Karyn Kusama', 1),
 ('Adam Shankman', 1),
 ('John Stockwell', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Jay Chandrasekhar', 1),
 ('Richard Shepard', 1),
 ('John Dahl', 1),
 ('Bruce Hunt', 1),
 ('Alfonso CuarÃ³n', 1),
 ('Stefen Fangmeier', 1),
 ('Mel Gibson', 1),
 ('Bruce Beresford', 1),
 ('Wolfgang Petersen', 1),
 ('Jeff Tremaine', 1),
 ('John Bonito', 1),
 ('Geoffrey Sax', 1),
 ('Tony Bill', 1),
 ('Wayne Kramer', 1),
 ('Sanjay Gadhvi', 1),
 ('Phil Joanou', 1),
 ('Alexander Witt', 1),
 ('Bibo Bergeron', 1),
 ('Vicky Jenson', 1),
 ('Rob Letterman', 1),
 ('Kerry Conran', 1),
 ('Oliver Stone', 1),
 ('Jonathan Hensleigh', 1),
 ('Pitof', 1),
 ('Philip Kaufman', 1),
 ('Trey Parker', 1),
 ('Steven Brill', 1),
 ('Frank Coraci', 1),
 ('Paul Abascal', 1),
 ('Joseph Kahn', 1),
 ('David Mamet', 1),
 ('Jay Russell', 1),
 ('Robert Redford', 1),
 ('Philip G. Atwell', 1),
 ('Michael Davis', 1),
 ('Xavier Gens', 1),
 ('Eli Roth', 1),
 ('Rob Zombie', 1),
 ('Jason Eisener', 1),
 ('Dave Meyers', 1),
 ('Russell Mulcahy', 1),
 ('Andrew Dominik', 1),
 ('Doug Lefler', 1),
 ('David Leland', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Joel Coen', 1),
 ('Donald Petrie', 1),
 ('Paul Verhoeven', 1),
 ('Roger Spottiswoode', 1),
 ('Antony Hoffman', 1),
 ('Stephen T. Kay', 1),
 ('Don Bluth', 1),
 ('Gary Goldman', 1),
 ('Christian Duguay', 1),
 ('Douglas Aarniokoski', 1),
 ('Gina Prince-Bythewood', 1),
 ('Brian Robbins', 1),
 ('Des McAnuff', 1)]

In [140]:
Counter(action_movies.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [143]:
answers['15'] = 'Chris Hemsworth'

In [142]:
year_2012 = data.loc[data['release_year'] == 2012][['cast', 'revenue']]
year_2012.groupby('cast')['revenue'].agg(['sum']).sort_values('sum', ascending = False)

                                                           sum
cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chri...  1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fie...  1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne H...  1081041287
Ian McKellen|Martin Freeman|Richard Armitage|An...  1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Lea...   877244782
...                                                        ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James ...     8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|P...     6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincen...     4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Pat...     3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gay...     2106557

[111 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [145]:
answers['16'] = 'Matt Damon'

In [144]:
high_budget_movies = data.loc[data['budget'] > data.budget.mean()]
Counter(high_budget_movies.cast.str.split('|').sum()).most_common()

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15),
 ('Eddie Murphy', 15),
 ('Mark Wahlberg', 14),
 ('Hugh Jackman', 14),
 ('Ben Stiller', 14),
 ('Jamie Foxx', 14),
 ('Russell Crowe', 14),
 ('Johnny Depp', 13),
 ('Jude Law', 13),
 ('Bruce Willis', 13),
 ('Will Smith', 13),
 ('Dwayne Johnson', 12),
 ('Ian McKellen', 12),
 ('Brad Pitt', 12),
 ('Owen Wilson', 12),
 ('Cameron Diaz', 12),
 ('Nicolas Cage', 12),
 ('Robert De Niro', 12),
 ('Leonardo DiCaprio', 11),
 ('Daniel Craig', 11),
 ('Robert Downey Jr.', 11),
 ('Steve Buscemi', 11),
 ('Vin Diesel', 10),
 ('Mark Ruffalo', 10),
 ('Jack Black', 10),
 ('Denzel Washington', 10),
 ('Emma Watson', 10),
 ('Gary Oldman', 10),
 ('Tom Hanks', 10),
 ('Orlando Bloom', 10),
 ('Ralph Fiennes', 9),
 ('Cate Blanchett', 9),
 ('Michael Caine', 9),
 ('Ewan McGregor', 9),
 ('Paul Bettany', 9),
 ('Brendan Gleeson', 9),
 ('Shia LaBeouf', 9),
 ('Nicole Kidman', 9),
 ('Colin Farrell', 9),
 ('Rachel Weisz', 9),
 ('Halle Berry', 9),
 ('Charlize Theron', 8),
 ('Kevin James', 8),
 ('Chris Hemsworth', 8),
 ('Helena Bonham Carter', 8),
 ('Josh Hutcherson', 8),
 ('George Clooney', 8),
 ('James Franco', 8),
 ('Christian Bale', 8),
 ('Gerard Butler', 8),
 ('Sylvester Stallone', 8),
 ('Rosario Dawson', 8),
 ('Ben Kingsley', 8),
 ('Bill Nighy', 8),
 ('Daniel Radcliffe', 8),
 ('Rupert Grint', 8),
 ('Jim Carrey', 8),
 ('Vince Vaughn', 8),
 ('Alec Baldwin', 8),
 ('Steve Carell', 8),
 ('Harrison Ford', 7),
 ('Jason Statham', 7),
 ('Chris Evans', 7),
 ('Woody Harrelson', 7),
 ('Josh Brolin', 7),
 ('Jeff Bridges', 7),
 ('Anne Hathaway', 7),
 ('Patrick Stewart', 7),
 ('Jennifer Connelly', 7),
 ('Anthony Hopkins', 7),
 ('Morgan Freeman', 7),
 ('Billy Crudup', 7),
 ('Jason Lee', 7),
 ('Jessica Biel', 7),
 ('Julia Roberts', 7),
 ('Ryan Reynolds', 7),
 ('Liam Neeson', 7),
 ('Karl Urban', 7),
 ('Richard Jenkins', 7),
 ('Chris Rock', 7),
 ('Kate Winslet', 6),
 ('Paul Walker', 6),
 ('Arnold Schwarzenegger', 6),
 ('Sean Bean', 6),
 ('Scarlett Johansson', 6),
 ('Elizabeth Banks', 6),
 ('Ving Rhames', 6),
 ('Mark Strong', 6),
 ('Jeffrey Wright', 6),
 ('Gwyneth Paltrow', 6),
 ('Matthew McConaughey', 6),
 ('Rosamund Pike', 6),
 ('Logan Lerman', 6),
 ('Robin Williams', 6),
 ('Stanley Tucci', 6),
 ('Mel Gibson', 6),
 ('Kevin Costner', 6),
 ('John Goodman', 6),
 ('Aaron Eckhart', 6),
 ('Justin Long', 6),
 ('Will Ferrell', 6),
 ('Seann William Scott', 6),
 ('Paul Giamatti', 6),
 ('Dustin Hoffman', 6),
 ('Mike Myers', 6),
 ('Eva Mendes', 6),
 ('Kate Beckinsale', 6),
 ('Jon Voight', 6),
 ('Jackie Chan', 6),
 ('Tobey Maguire', 6),
 ('Keanu Reeves', 6),
 ('Guy Pearce', 6),
 ('John Leguizamo', 6),
 ('Tommy Lee Jones', 6),
 ('Michelle Rodriguez', 5),
 ('Michael PeÃ±a', 5),
 ('Paul Rudd', 5),
 ('Jennifer Lawrence', 5),
 ('Carla Gugino', 5),
 ('Ioan Gruffudd', 5),
 ('Simon Pegg', 5),
 ('Giovanni Ribisi', 5),
 ('Frances McDormand', 5),
 ('Elijah Wood', 5),
 ('Jake Gyllenhaal', 5),
 ('Sam Worthington', 5),
 ('Delroy Lindo', 5),
 ('Bradley Cooper', 5),
 ('Donald Sutherland', 5),
 ('Ben Affleck', 5),
 ('Andy Serkis', 5),
 ('John Turturro', 5),
 ('Jonah Hill', 5),
 ('Julianne Moore', 5),
 ('John Malkovich', 5),
 ('Ian McShane', 5),
 ('Chris Pine', 5),
 ('Keira Knightley', 5),
 ('Jessica Alba', 5),
 ('Eric Bana', 5),
 ('Benjamin Bratt', 5),
 ('Hank Azaria', 5),
 ('John Travolta', 5),
 ('David Cross', 5),
 ('Clive Owen', 5),
 ('Sam Elliott', 5),
 ('Don Cheadle', 5),
 ('Ron Perlman', 5),
 ('Antonio Banderas', 5),
 ('Peter Sarsgaard', 5),
 ('Zach Galifianakis', 5),
 ('Nick Nolte', 5),
 ('Brendan Fraser', 5),
 ('Jennifer Aniston', 5),
 ('Edward Norton', 5),
 ('Judi Dench', 5),
 ('John C. Reilly', 5),
 ('Sacha Baron Cohen', 5),
 ('Kirsten Dunst', 5),
 ('Djimon Hounsou', 5),
 ('Catherine Zeta-Jones', 5),
 ('Tom Hardy', 4),
 ('Kristen Wiig', 4),
 ('Christoph Waltz', 4),
 ('Michelle Monaghan', 4),
 ('Liam Hemsworth', 4),
 ('Amanda Seyfried', 4),
 ('Steve Martin', 4),
 ('Ray Winstone', 4),
 ('Rose Byrne', 4),
 ('Tom Hiddleston', 4),
 ('Michael Fassbender', 4),
 ('Megan Fox', 4),
 ('Will Arnett', 4),
 ('William Fichtner', 4),
 ('Marton Csokas', 4),
 ('Emma Stone', 4),
 ('Bill Paxton', 4),
 ('Joel Edgerton', 4),
 ('Bryan Cranston', 4),
 ('Jay Baruchel', 4),
 ('Eva Green', 4),
 ('David Wenham', 4),
 ('Michael Gambon', 4),
 ('Mickey Rourke', 4),
 ('Joseph Gordon-Levitt', 4),
 ('Bill Murray', 4),
 ('Carrie-Anne Moss', 4),
 ('Bruce Greenwood', 4),
 ('Patrick Wilson', 4),
 ('Chiwetel Ejiofor', 4),
 ('Thandie Newton', 4),
 ('Anna Faris', 4),
 ('Amy Adams', 4),
 ('Susan Sarandon', 4),
 ('PenÃ©lope Cruz', 4),
 ('Jon Favreau', 4),
 ('Luis GuzmÃ¡n', 4),
 ('Jason Bateman', 4),
 ('Seth Rogen', 4),
 ('Reese Witherspoon', 4),
 ('Tyrese Gibson', 4),
 ('Catherine Keener', 4),
 ('James Cromwell', 4),
 ('Julie Andrews', 4),
 ('Alfred Molina', 4),
 ('Salma Hayek', 4),
 ('Kristen Stewart', 4),
 ('Peter Facinelli', 4),
 ('Jason Isaacs', 4),
 ('Ashton Kutcher', 4),
 ('Jack Nicholson', 4),
 ('Viggo Mortensen', 4),
 ('Liv Tyler', 4),
 ('Ed Harris', 4),
 ('Heath Ledger', 4),
 ('Kurt Russell', 4),
 ('Angela Bassett', 4),
 ('TÃ©a Leoni', 4),
 ('Terrence Howard', 4),
 ('Hayden Christensen', 4),
 ('Terence Stamp', 4),
 ('Anthony Mackie', 4),
 ('Zooey Deschanel', 4),
 ('Matthew Broderick', 4),
 ('Ed Helms', 4),
 ('Hugo Weaving', 4),
 ('Geoffrey Rush', 4),
 ('Natalie Portman', 4),
 ('Denis Leary', 4),
 ('Brian Cox', 4),
 ('Willem Dafoe', 4),
 ('Joaquin Phoenix', 4),
 ('Famke Janssen', 4),
 ('Peter Stormare', 4),
 ('Kerry Washington', 4),
 ('Billy Connolly', 4),
 ('Drew Barrymore', 4),
 ('RenÃ©e Zellweger', 4),
 ('Christopher Walken', 4),
 ('Bryce Dallas Howard', 3),
 ('Theo James', 3),
 ('Miles Teller', 3),
 ('Jason Clarke', 3),
 ('Jai Courtney', 3),
 ('Jessica Chastain', 3),
 ('Sandra Bullock', 3),
 ('Michael Keaton', 3),
 ('Bill Hader', 3),
 ('Monica Bellucci', 3),
 ('Mila Kunis', 3),
 ('Channing Tatum', 3),
 ('Josh Gad', 3),
 ('Michael Douglas', 3),
 ('Bobby Cannavale', 3),
 ('Hugh Laurie', 3),
 ('Alexandra Daddario', 3),
 ('Jeremy Renner', 3),
 ('Amy Ryan', 3),
 ('Henry Cavill', 3),
 ('Armie Hammer', 3),
 ('Kate Mara', 3),
 ('Jamie Bell', 3),
 ('Toby Kebbell', 3),
 ('Garrett Hedlund', 3),
 ('Andy Samberg', 3),
 ('Rachel McAdams', 3),
 ('Marion Cotillard', 3),
 ('Charlie Hunnam', 3),
 ('Casey Affleck', 3),
 ('Zoe Saldana', 3),
 ('Robert Redford', 3),
 ('Martin Freeman', 3),
 ('Richard Armitage', 3),
 ('Neil Patrick Harris', 3),
 ('James McAvoy', 3),
 ('Li Bingbing', 3),
 ('Colm Feore', 3),
 ('Sienna Miller', 3),
 ('Ken Watanabe', 3),
 ('Elle Fanning', 3),
 ('Sharlto Copley', 3),
 ('Luke Evans', 3),
 ('Dominic Cooper', 3),
 ('John Hurt', 3),
 ('Rufus Sewell', 3),
 ('Abbie Cornish', 3),
 ('Jesse Eisenberg', 3),
 ('Leslie Mann', 3),
 ('Andy GarcÃ\xada', 3),
 ('Emily Browning', 3),
 ('Miranda Otto', 3),
 ('William Hurt', 3),
 ('Stephen Lang', 3),
 ('Christopher Plummer', 3),
 ('Malin Ã…kerman', 3),
 ('Amanda Peet', 3),
 ('Stellan SkarsgÃ¥rd', 3),
 ('Dennis Quaid', 3),
 ('Dakota Fanning', 3),
 ('Kristen Bell', 3),
 ('Kiefer Sutherland', 3),
 ('Robin Wright', 3),
 ('Josh Duhamel', 3),
 ('Meryl Streep', 3),
 ('Olivia Wilde', 3),
 ('Freddie Highmore', 3),
 ('Jordana Brewster', 3),
 ('Radha Mitchell', 3),
 ('Liev Schreiber', 3),
 ('Hugh Grant', 3),
 ('Sarah Jessica Parker', 3),
 ('Mary Steenburgen', 3),
 ('Russell Brand', 3),
 ('Emily Mortimer', 3),
 ('Skandar Keynes', 3),
 ('Georgie Henley', 3),
 ('Jason Flemyng', 3),
 ('Mary Elizabeth Winstead', 3),
 ('Brandon T. Jackson', 3),
 ('Mary-Louise Parker', 3),
 ('Maria Bello', 3),
 ('Robert Pattinson', 3),
 ('Taylor Lautner', 3),
 ('Greg Kinnear', 3),
 ('Kristin Davis', 3),
 ('Chris Noth', 3),
 ('James Marsden', 3),
 ('Dan Aykroyd', 3),
 ('Milla Jovovich', 3),
 ('Cuba Gooding Jr.', 3),
 ('Michael Clarke Duncan', 3),
 ('James Gandolfini', 3),
 ('Laurence Fishburne', 3),
 ('Billy Bob Thornton', 3),
 ('Teri Polo', 3),
 ('Lucy Liu', 3),
 ('Jada Pinkett Smith', 3),
 ('David Schwimmer', 3),
 ('Jeffrey Tambor', 3),
 ('Thomas Kretschmann', 3),
 ('Kenneth Branagh', 3),
 ('Cliff Curtis', 3),
 ('Michael Chiklis', 3),
 ('Jaden Smith', 3),
 ('Sienna Guillory', 3),
 ('Al Pacino', 3),
 ('Spencer Breslin', 3),
 ('Paula Patton', 3),
 ('Tim Robbins', 3),
 ('Justin Bartha', 3),
 ('Ken Jeong', 3),
 ('Jane Lynch', 3),
 ('Isla Fisher', 3),
 ('CiarÃ¡n Hinds', 3),
 ('Lily Collins', 3),
 ('Kevin Bacon', 3),
 ('Ray Romano', 3),
 ('Chris Cooper', 3),
 ('Emma Thompson', 3),
 ('William Shatner', 3),
 ('Cole Hauser', 3),
 ('Randy Quaid', 3),
 ('Harvey Keitel', 3),
 ('Scott Glenn', 3),
 ('David Oyelowo', 3),
 ('Michelle Pfeiffer', 3),
 ('David Spade', 3),
 ('Marisa Tomei', 3),
 ('Josh Lucas', 3),
 ('David Thewlis', 3),
 ('Connie Nielsen', 3),
 ('Bruce McGill', 3),
 ('Shirley MacLaine', 3),
 ('Hiroyuki Sanada', 3),
 ('Sean Penn', 3),
 ('Richard Roxburgh', 3),
 ('Val Kilmer', 3),
 ('Emmy Rossum', 3),
 ('Miranda Richardson', 3),
 ('Chris Pratt', 2),
 ('Irrfan Khan', 2),
 ('Nicholas Hoult', 2),
 ('Shailene Woodley', 2),
 ('Domhnall Gleeson', 2),
 ('J.K. Simmons', 2),
 ('Jeff Daniels', 2),
 ('Allison Janney', 2),
 ('Steve Coogan', 2),
 ('Amy Poehler', 2),
 ('LÃ©a Seydoux', 2),
 ('Evangeline Lilly', 2),
 ('Corey Stoll', 2),
 ('Colin Firth', 2),
 ('Giancarlo Esposito', 2),
 ('Alicia Vikander', 2),
 ('Elizabeth Debicki', 2),
 ('Rihanna', 2),
 ('Jennifer Lopez', 2),
 ('Edgar RamÃ\xadrez', 2),
 ('Teresa Palmer', 2),
 ('Viola Davis', 2),
 ('Benjamin Walker', 2),
 ('Ben Whishaw', 2),
 ('Rooney Mara', 2),
 ('Selena Gomez', 2),
 ('Mia Wasikowska', 2),
 ('Sebastian Stan', 2),
 ('Ken Stott', 2),
 ('Graham McTavish', 2),
 ('Jamie Chung', 2),
 ('Rami Malek', 2),
 ('Ray Stevenson', 2),
 ('Nicola Peltz', 2),
 ('Keri Russell', 2),
 ('ChloÃ« Grace Moretz', 2),
 ('Andrew Garfield', 2),
 ('Emily Blunt', 2),
 ('Aaron Paul', 2),
 ('Ben Barnes', 2),
 ('Kit Harington', 2),
 ('Lena Headey', 2),
 ('Joel Kinnaman', 2),
 ('Jackie Earle Haley', 2),
 ('Adewale Akinnuoye-Agbaje', 2),
 ('RamÃ³n RodrÃ\xadguez', 2),
 ('Yvonne Strahovski', 2),
 ('Kellan Lutz', 2),
 ('Sigourney Weaver', 2),
 ('MÃ©lanie Laurent', 2),
 ('Julie Walters', 2),
 ('Zachary Quinto', 2),
 ('Anton Yelchin', 2),
 ('Eddie Marsan', 2),
 ('Jeffrey Dean Morgan', 2),
 ('John Cusack', 2),
 ('Oliver Platt', 2),
 ('Keith David', 2),
 ('Marlon Wayans', 2),
 ('James Caan', 2),
 ('Saoirse Ronan', 2),
 ('Sam Rockwell', 2),
 ('Tracy Morgan', 2),
 ('Zachary Levi', 2),
 ('Mary Kay Place', 2),
 ('Michael Cera', 2),
 ('Oscar Isaac', 2),
 ('Danny Huston', 2),
 ('Lynn Collins', 2),
 ('Jason Segel', 2),
 ('Dolph Lundgren', 2),
 ('Michelle Williams', 2),
 ('Mandy Moore', 2),
 ('Tim Allen', 2),
 ('Ned Beatty', 2),
 ('Joan Cusack', 2),
 ('Timothy Dalton', 2),
 ('Gemma Arterton', 2),
 ('Anna Kendrick', 2),
 ('Barbra Streisand', 2),
 ('Helen Mirren', 2),
 ('Tina Fey', 2),
 ('Ashley Greene', 2),
 ('Jordi MollÃ\xa0', 2),
 ('Javier Bardem', 2),
 ('Katherine Heigl', 2),
 ('Tom Selleck', 2),
 ('Cynthia Nixon', 2),
 ('Kim Cattrall', 2),
 ('Essie Davis', 2),
 ('Eric Dane', 2),
 ('Cam Gigandet', 2),
 ('Julianne Hough', 2),
 ('Stephanie Szostak', 2),
 ('Bette Midler', 2),
 ('Carey Mulligan', 2),
 ('Justin Timberlake', 2),
 ('John Cleese', 2),
 ('Billy Crystal', 2),
 ("Frances O'Connor", 2),
 ('John Lithgow', 2),
 ('Josh Hartnett', 2),
 ('John Hannah', 2),
 ('Arnold Vosloo', 2),
 ('Michael J. Fox', 2),
 ('James Garner', 2),
 ('Noah Taylor', 2),
 ('Tim Roth', 2),
 ('Kris Kristofferson', 2),
 ('Tom Sizemore', 2),
 ('Chris Tucker', 2),
 ('Zhang Ziyi', 2),
 ('Ernie Reyes, Jr.', 2),
 ('Elizabeth Perkins', 2),
 ('Sam Shepard', 2),
 ('Dylan Baker', 2),
 ('Gene Hackman', 2),
 ('Dominic West', 2),
 ('Edward Burns', 2),
 ('Martin Landau', 2),
 ('David Ogden Stiers', 2),
 ('Courteney Cox', 2),
 ('David Hyde Pierce', 2),
 ('Til Schweiger', 2),
 ('David Andrews', 2),
 ('William H. Macy', 2),
 ('Jeff Garlin', 2),
 ('Olga Kurylenko', 2),
 ('Jet Li', 2),
 ('Selma Blair', 2),
 ('Michael Rooker', 2),
 ('William Moseley', 2),
 ('Anna Popplewell', 2),
 ('Kathy Bates', 2),
 ('Michael Ealy', 2),
 ('Malcolm McDowell', 2),
 ('Alan Arkin', 2),
 ('Ali Suliman', 2),
 ('Adam Scott', 2),
 ('Kate Hudson', 2),
 ('Ewen Bremner', 2),
 ('Lambert Wilson', 2),
 ('Charlotte Rampling', 2),
 ('Robert Duvall', 2),
 ('Christina Ricci', 2),
 ('Matthew Fox', 2),
 ('Gabriel Macht', 2),
 ('Paz Vega', 2),
 ('Kevin Kline', 2),
 ('Gabrielle Union', 2),
 ('Goran Visnjic', 2),
 ('Bailee Madison', 2),
 ('Noomi Rapace', 2),
 ('Larry the Cable Guy', 2),
 ('Eddie Izzard', 2),
 ('Vanessa Hudgens', 2),
 ('Emily Watson', 2),
 ('Asa Butterfield', 2),
 ('Dominic Purcell', 2),
 ('Maggie Q', 2),
 ('Isabel Lucas', 2),
 ('Katie Holmes', 2),
 ('Amy Sedaris', 2),
 ('Jason Momoa', 2),
 ('Lea Michele', 2),
 ('Johnny A. Sanchez', 2),
 ('Seth Green', 2),
 ('Queen Latifah', 2),
 ('Richard Harris', 2),
 ('Franka Potente', 2),
 ('Ian McDiarmid', 2),
 ('Max von Sydow', 2),
 ('Abigail Breslin', 2),
 ('Elias Koteas', 2),
 ('Liam Aiken', 2),
 ('Paul Newman', 2),
 ('BeyoncÃ© Knowles', 2),
 ('Mark Addy', 2),
 ('Adam Beach', 2),
 ('Izabella Scorupco', 2),
 ('Naomie Harris', 2),
 ('Idris Elba', 2),
 ('Martin Sheen', 2),
 ('Kevin McKidd', 2),
 ('Jim Broadbent', 2),
 ('Jim Sturgess', 2),
 ('Jonny Lee Miller', 2),
 ('Timothy Spall', 2),
 ('Taylor Kitsch', 2),
 ('Tadanobu Asano', 2),
 ('Nathan Lane', 2),
 ('Jack Davenport', 2),
 ('Claire Danes', 2),
 ('Jennifer Garner', 2),
 ('Martin Lawrence', 2),
 ('TchÃ©ky Karyo', 2),
 ('Bernie Mac', 2),
 ('Robert Patrick', 2),
 ('Steve Zahn', 2),
 ('Timothy Olyphant', 2),
 ('Diane Lane', 2),
 ('Jodie Foster', 2),
 ('Alice Braga', 2),
 ('Diego Luna', 2),
 ('James Badge Dale', 2),
 ('Patton Oswalt', 2),
 ('Cloris Leachman', 2),
 ('Max Martini', 2),
 ('Maggie Gyllenhaal', 2),
 ('Sung Kang', 2),
 ('Sophie Okonedo', 2),
 ('Zach Braff', 2),
 ('Jim Belushi', 2),
 ('AnnaSophia Robb', 2),
 ('Julian McMahon', 2),
 ('Lauren Graham', 2),
 ('Gong Li', 2),
 ('Amber Valletta', 2),
 ('Jeremy Irons', 2),
 ('Adrien Brody', 2),
 ('Lucas Black', 2),
 ('Donal Logue', 2),
 ('Paddy Considine', 2),
 ('Bonnie Hunt', 2),
 ('Yvan Attal', 2),
 ('Mads Mikkelsen', 2),
 ('Jean Reno', 2),
 ('Philip Seymour Hoffman', 2),
 ('Jonathan Rhys Meyers', 2),
 ('David Strathairn', 2),
 ('Sharon Stone', 2),
 ('Jacinda Barrett', 2),
 ('Gary Sinise', 2),
 ('Danny Glover', 2),
 ('Julia Stiles', 2),
 ('Diane Kruger', 2),
 ('Chi McBride', 2),
 ('Jane Krakowski', 2),
 ('Glenn Close', 2),
 ('Patrick Warburton', 2),
 ('John Michael Higgins', 2),
 ('Helen Hunt', 2),
 ("Vincent D'Onofrio", 1),
 ('Nick Robinson', 1),
 ('Hugh Keays-Byrne', 1),
 ('Josh Helman', 1),
 ('Ansel Elgort', 1),
 ('Mark Hamill', 1),
 ('Carrie Fisher', 1),
 ('Adam Driver', 1),
 ('Daisy Ridley', 1),
 ('Will Poulter', 1),
 ('Paul Anderson', 1),
 ('Emilia Clarke', 1),
 ('Jon Hamm', 1),
 ('Phyllis Smith', 1),
 ('Richard Kind', 1),
 ('Lewis Black', 1),
 ('Eddie Redmayne', 1),
 ('Douglas Booth', 1),
 ('Peter Dinklage', 1),
 ('Lily James', 1),
 ('Richard Madden', 1),
 ('Holliday Grainger', 1),
 ('Britt Robertson', 1),
 ('Raffey Cassidy', 1),
 ('Thomas Robinson', 1),
 ('Archie Panjabi', 1),
 ('Rebecca Ferguson', 1),
 ('Seth MacFarlane', 1),
 ('Jessica Barth', 1),
 ('Taron Egerton', 1),
 ("Dylan O'Brien", 1),
 ('Kaya Scodelario', 1),
 ('Thomas Brodie-Sangster', 1),
 ('Aidan Gillen', 1),
 ('Dylan Minnette', 1),
 ('Odeya Rush', 1),
 ('Jillian Bell', 1),
 ('Raymond Ochoa', 1),
 ('Jack Bright', 1),
 ('Maleah Nipay-Padilla', 1),
 ('Rose Leslie', 1),
 ('Ã“lafur Darri Ã“lafsson', 1),
 ('Luca Calvani', 1),
 ('Jim Parsons', 1),
 ('Matt Jones', 1),
 ('John Hawkes', 1),
 ('Luke Bracey', 1),
 ('Olivia Munn', 1),
 ('Leehom Wang', 1),
 ('Tang Wei', 1),
 ('Holt McCallany', 1),
 ('Michael B. Jordan', 1),
 ('Melissa McCarthy', 1),
 ('Miranda Hart', 1),
 ('Cillian Murphy', 1),
 ('Levi Miller', 1),
 ('Noah Schnapp', 1),
 ('Bill Melendez', 1),
 ('Venus Schultheis', 1),
 ('Hadley Belle Miller', 1),
 ('Madisyn Shipman', 1),
 ('Jim Beaver', 1),
 ('Tom Kenny', 1),
 ('Bill Fagerbakke', 1),
 ('Rodger Bumpass', 1),
 ('Clancy Brown', 1),
 ('Carolyn Lawrence', 1),
 ('Dave Bautista', 1),
 ('Scott Adsit', 1),
 ('Ryan Potter', 1),
 ('Daniel Henney', 1),
 ('T.J. Miller', 1),
 ('Carrie Coon', 1),
 ('Tyler Perry', 1),
 ('Jon Bernthal', 1),
 ('Rebel Wilson', 1),
 ('Alan Ritchson', 1),
 ('Noel Fisher', 1),
 ('Jack Reynor', 1),
 ('Judy Greer', 1),
 ('David Harbour', 1),
 ('Haley Bennett', 1),
 ('Dane DeHaan', 1),
 ('Jonas Armstrong', 1),
 ('Kyle Gallner', 1),
 ('Cole Konis', 1),
 ('Ben Reed', 1),
 ('Ben Mendelsohn', 1),
 ('Aaron Taylor-Johnson', 1),
 ('Elizabeth Olsen', 1),
 ('Juliette Binoche', 1),
 ('Juno Temple', 1),
 ('Isobelle Molloy', 1),
 ('Craig Berry', 1),
 ('Alison Brie', 1),
 ('David Burrows', 1),
 ('Sarah Gadon', 1),
 ('Art Parkinson', 1),
 ('Charles Dance', 1),
 ('Tom McGrath', 1),
 ('Chris Miller', 1),
 ('Christopher Knights', 1),
 ('Conrad Vernon', 1),
 ('Sullivan Stapleton', 1),
 ('Callan Mulvey', 1),
 ('Peter Capaldi', 1),
 ('Imelda Staunton', 1),
 ('Aksel Hennie', 1),
 ('Nonso Anozie', 1),
 ('Gemma Chan', 1),
 ('Rebecca Hall', 1),
 ('Ty Burrell', 1),
 ('Max Charles', 1),
 ('Ariel Winter', 1),
 ('Ellie Kemper', 1),
 ("Jack O'Connell", 1),
 ('Takamasa Ishihara', 1),
 ('Finn Wittrock', 1),
 ('Jessica Lucas', 1),
 ('QuvenzhanÃ© Wallis', 1),
 ('Imogen Poots', 1),
 ('Isaac Hempstead Wright', 1),
 ('Dee Bradley Baker', 1),
 ('Steve Blum', 1),
 ('Jessica Brown Findlay', 1),
 ('Liam McIntyre', 1),
 ('Gaia Weiss', 1),
 ('Scott Adkins', 1),
 ('Roxanne McKee', 1),
 ('Eli Roth', 1),
 ('Tom Felton', 1),
 ('Ed Asner', 1),
 ('Jordan Nagai', 1),
 ('Bob Peterson', 1),
 ('Leonard Nimoy', 1),
 ('Moon Bloodgood', 1),
 ('Ayelet Zurer', 1),
 ('Pierfrancesco Favino', 1),
 ('Anika Noni Rose', 1),
 ('Bruno Campos', 1),
 ('Michael-Leon Wooley', 1),
 ('Jennifer Cody', 1),
 ('Mr. T', 1),
 ('Teri Hatcher', 1),
 ('Jennifer Saunders', 1),
 ('Dawn French', 1),
 ('Steve Valentine', 1),
 ('Daryl Sabara', 1),
 ('Sage Ryan', 1),
 ('Victor Gojcaj', 1),
 ('Matthew Gray Gubler', 1),
 ('Rainn Wilson', 1),
 ('Lake Bell', 1),
 ('Anna Friel', 1),
 ('Danny McBride', 1),
 ('Jorma Taccone', 1),
 ('Matt Lauer', 1),
 ('Tony Kgoroge', 1),
 ('Patrick Mofokeng', 1),
 ('Matt Stern', 1),
 ('Max Minghella', 1),
 ('Ashraf Barhom', 1),
 ('Michael Lonsdale', 1),
 ('John Ortiz', 1),
 ('Tom Wilkinson', 1),
 ('Lisa Roberts Gillan', 1),
 ('Nelsan Ellis', 1),
 ('Michael Bunin', 1),
 ('Natalia Klimas', 1),
 ('Ellen Page', 1),
 ('Crispin Glover', 1),
 ('Eric Roberts', 1),
 ('Randy Couture', 1),
 ('Craig Ferguson', 1),
 ('America Ferrera', 1),
 ('Bruce Boxleitner', 1),
 ('Yaya DaCosta', 1),
 ('Donna Murphy', 1),
 ('M.C. Gainey', 1),
 ('Daniel Olbrychski', 1),
 ('Gary Sweet', 1),
 ('Arthur Angel', 1),
 ('Steven Berkoff', 1),
 ('Steve Toussaint', 1),
 ('Kieran Culkin', 1),
 ('Jake Abel', 1),
 ('Ethan Suplee', 1),
 ('Kevin Corrigan', 1),
 ('Maya Rudolph', 1),
 ('Jennifer Beals', 1),
 ('Taraji P. Henson', 1),
 ('Jimmi Simpson', 1),
 ('Noah Ringer', 1),
 ('Jackson Rathbone', 1),
 ('Dev Patel', 1),
 ('Shaun Toub', 1),
 ("Chris O'Dowd", 1),
 ('Juliette Lewis', 1),
 ("Catherine O'Hara", 1),
 ('Alex Borstein', 1),
 ('Emily Barclay', 1),
 ('Deborra-Lee Furness', 1),
 ('Cher', 1),
 ('Christina Aguilera', 1),
 ('Jemaine Clement', 1),
 ('Christina Applegate', 1),
 ('Pascale Hutton', 1),
 ('Kathryn Hahn', 1),
 ('Frank Langella', 1),
 ('Tom Cavanagh', 1),
 ('Christine Taylor', 1),
 ('Shawn Roberts', 1),
 ("Denis O'Hare", 1),
 ('Wentworth Miller', 1),
 ('Ali Larter', 1),
 ('Kim Coates', 1),
 ('Kacey Barnfield', 1),
 ('Robbie Coltrane', 1),
 ('Mary Gibbs', 1),
 ('James Coburn', 1),
 ('Haley Joel Osment', 1),
 ('Sam Robards', 1),
 ('Jake Thomas', 1),
 ('Vincent Cassel', 1),
 ('Oded Fehr', 1),
 ('Corey Burton', 1),
 ('Claudia Christian', 1),
 ('John Mahoney', 1),
 ('Iain Glen', 1),
 ('Joseph Fiennes', 1),
 ('Bob Hoskins', 1),
 ('Shannyn Sossamon', 1),
 ('Laura Fraser', 1),
 ('Roselyn SÃ¡nchez', 1),
 ('Jeff Goldblum', 1),
 ('Alexander Pollock', 1),
 ('Miriam Margolyes', 1),
 ('Catherine McCormack', 1),
 ('Stephen Dillane', 1),

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [147]:
answers['17'] = 'Action'

In [146]:
NCage_movies = data[data.cast.str.contains('Nicolas Cage', na=False)]

Counter(NCage_movies.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [151]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [150]:
PP_movies = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
PP_movies[PP_movies.profit == PP_movies.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [154]:
answers['19'] = '2015'

In [153]:
t = data.groupby(['release_year'])['revenue'].agg(['sum']).sort_values('sum', ascending = False)
t.iloc[0]

sum    25449202382
Name: 2015, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
answers['20'] = '2014'

In [155]:
WB_data = data[data.production_companies.str.contains('Warner Bros', na=False)]
w = WB_data.groupby(['release_year'])['profit'].agg(['sum']).sort_values('sum', ascending = False)
w.iloc[0]

sum    2295464519
Name: 2014, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [163]:
answers['21'] = 'Сентябрь'

In [158]:
#first convert release_date into datetime format => see data preparation part above

In [160]:
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [162]:
t = data.release_date.dt.month.value_counts()
t.index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [165]:
answers['22'] = '450'

In [164]:
t = data.release_date.dt.month.value_counts()

t[6]+t[7]+t[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [172]:
answers['23'] = 'Peter Jackson'

In [169]:
#first prepare separate column 'release_month' for months => see data preparation part above

In [170]:
winter_data = data[data.release_month.isin(['1', '2', '12'])]
Counter(winter_data.director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

In [171]:
#var2:
winter_data.director.value_counts().sort_values(ascending=False).head(10)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
Nancy Meyers         4
Shawn Levy           4
Steven Spielberg     3
Rob Marshall         3
Marc Lawrence        3
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [179]:
answers['24'] = 'Four By Two Productions'

In [177]:
#first prepare separate column 'title_count' for title length => see data preparation part above

In [178]:
 data.groupby('production_companies')['title_count'].agg(['mean']).sort_values('mean', ascending = False)

                                                    mean
production_companies
Twentieth Century Fox Film Corporation|Four By ...  83.0
Walt Disney|Walden Media                            62.0
Walt Disney Pictures|21 Laps Entertainment|Jim ...  59.0
Plan B Entertainment|Virtual Studios|Scott Free...  58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media   56.0
...                                                  ...
FilmNation Entertainment|Everest Entertainment       3.0
Ixtlan Productions|Emperor Motion Pictures|Glob...   2.0
Columbia Pictures|Relativity Media                   2.0
Twentieth Century Fox Film Corporation|Donners'...   2.0
Focus Films|Starz Animation|Relativity Media|Ti...   1.0

[1624 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [183]:
answers['25'] = 'Midnight Picture Show'

In [181]:
#first prepare separate column 'overview_len' for title length => see data preparation part above

In [182]:
data.groupby('production_companies')['overview_len'].agg(['mean']).sort_values('mean', ascending = False)

                                                      mean
production_companies
Lions Gate Films|Lakeshore Entertainment|Greene...  1000.0
Fox Searchlight Pictures|Room 9 Entertainment        964.0
Columbia Pictures|Revolution Studios|Happy Madi...   959.0
Mandalay Pictures|TriStar Pictures|Brookwell-Mc...   936.0
Lions Gate Family Entertainment|Relativity Medi...   909.0
...                                                    ...
Focus Films                                           72.0
Columbia Pictures Corporation|Apatow Productions      64.0
Cheyenne Enterprises|Epsilon Motion Pictures|Em...    62.0
Motion Picture Corporation of America|Artisan E...    59.0
Paramount Pictures|Plan B Entertainment|Regency...    58.0

[1624 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [185]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [184]:
data_small = pd.DataFrame(data, columns=['original_title', 'vote_average'])

data_small.sort_values(['vote_average'], ascending = False).head(10)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [187]:
answers['27'] = 'na'

In [186]:
#не сделала. intertool combinations мы не проходили - решение, предложенное в slack не осилила :(

ВАРИАНТ 2

# Submission

In [194]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'na',
 '4': '110'}

In [195]:
# и убедиться что ни чего не пропустил)
len(answers)

27